#ruby, #c, #javascript, #go, #python, #rust, #swift, #noprogram, #epicodus, #scala, #retry {

  display: none;
}

.container h1 {
  text-align: center;
}

.container {
  background-color: darkkhaki;
}

.btn {
  width: 100%;
  background-color: lightsalmon;
}

.container img {
  width: 400px;
  float: left;
}